body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    max-width: 400px;
    background: skyblue;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#myform div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


input, button{
    padding: 8px;
    border-radius: 2px;
    outline: none;
    border: none;
}
button{
    margin-left: 10px;
    cursor: pointer;
}

input[type=submit]{
    cursor: pointer;
}